<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot</title>
    <link rel="stylesheet" href="../Static/css/login.css">
    <script src="../Static/script/login.js" defer></script>
</head>

<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>

    </section>
    <div class="main-container">
        <div class="container">
            <div class="form">
                <h2>Verify</h2>
                <p class="result">
                    <% if(result){%>
                        <%=result %>
                            <% } %>
                </p>
                <form action="/forgot" method="post">
                    <div class="input-box">
                        <input type="email" maxlength="40" placeholder="Email address" name="email" id="email" required>
                    </div>
                    <div class="input-box">
                        <input type="email" name="recoveryEmail" id="recoveryEmail" placeholder="Recovery Email"
                            required>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Verify">
                    </div>
                    <br>
                    <p class="bottom-text">Go to login page ? <a href="/">Click Here</a></p>
                    <p class="bottom-text">Don't have an Account ? <a href="/signup">Sign up</a></p>
                </form>

            </div>
        </div>
    </div>
</body>

</html>