* {
  margin: 0;
  padding: 0;
  /* background-color: #cba592; */
}

.main {
  height: 100vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 20rem;
  width: 50rem;
  background-color: #cba592;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  border: 0.4rem solid black;
}

.all-titles {
  /* background-color: brown; */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

.title {
  /* background-color: white; */
  font-size: 1.3rem;
  padding-left: 2rem;
  font-weight: bold;
}

.all-contents {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-contents label {
  /* background-color: purple; */
  margin-top: 1rem;
  font-size: 1.1rem;
}

.all-contents input {
  width: 15rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  background-color: transparent;
  border: 2px solid black;
}

.all-contents input:focus {
  outline: none;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.edit {
  height: 2.5rem;
  width: 5rem;
  background-color: blue;
  color: black;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

.edit:hover {
  background-color: rgb(57, 57, 185);
  color: white;
}

.cancel {
  height: 2.5rem;
  width: 5rem;
  background-color: red;
  color: black;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

.cancel:hover {
  background-color: rgb(209, 85, 85);
  color: white;
}

@media (max-width: 650px) {
  html {
    /* background-color: red; */
    font-size: 15px;
  }
}

@media (max-width: 570px) {
  html {
    /* background-color: red; */
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  html {
    /* background-color: red; */
    font-size: 13px;
  }
}

@media (max-width: 490px) {
  html {
    /* background-color: red; */
    font-size: 12px;
  }
}

@media (max-width: 460px) {
  html {
    /* background-color: red; */
    font-size: 11px;
  }

  .container {
    margin-bottom: 20rem;
  }
}

@media (max-width: 420px) {
  html {
    /* background-color: red; */
    font-size: 10px;
  }
}

@media (max-width: 380px) {
  html {
    /* background-color: red; */
    font-size: 9px;
  }
}

@media (max-width: 340px) {
  html {
    /* background-color: red; */
    font-size: 8px;
  }
}

@media (max-width: 310px) {
  html {
    /* background-color: red; */
    font-size: 7px;
  }
}
