@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Satisfy&family=Source+Sans+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    overflow: hidden;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(221, 221, 218), rgb(203, 206, 206));
    /* background: linear-gradient(yellow, aqua); */


}

section .color {
    position: absolute;
    filter: blur(150px);

}

section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: rgb(241, 71, 100);

}

section .color:nth-child(2) {
    left: 150px;
    width: 300px;
    height: 600px;
    background: rgb(237, 228, 59);

}

section .color:nth-child(3) {
    bottom: 50px;
    width: 300px;
    height: 300px;
    background: rgb(24, 238, 188);

}

section .color:nth-child(4) {
    bottom: -50px;
    width: 300px;
    height: 300px;
    background: rgb(115, 35, 228);

}

.main-container {
    position: absolute;
    top: 10vw;
    left: 38vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));

}

.container {
    position: relative;
    min-width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(5px); */
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

form {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 2vw;
}

.form h2 {

    position: relative;
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateY(45px); */



}

.form p {
    text-align: center;
}


.result {
    min-height: 3vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: red;
    font-size: larger;
    font-weight: bold;
    /* background-color: blue; */
}

.form input {
    width: 100%;
    margin-top: 1vw;
}

.form .input-box input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: white
}

input[type=submit]:hover {
    background-color: lightblue;
    color: blue;
}