@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Satisfy&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

.bg {
    width: 100vw;
    height: 100vh;
}

.submit-button {
    width: 5rem;
    height: 2rem;
    border-radius: 30px;
    background: rgb(229, 225, 225);
    border: none;
    font-family: "Poppins", sans-serif;
    border: 1px solid black;
}

.submit-button:hover {
    background-color: black;
    color: white
}


.layout {
    width: 100vw;
    height: calc(100vh - 80px);
    /* background-color: red; */
}

#form {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    flex-direction: column;
    gap: 2rem;
}

.text-password-area {
    width: 30vw;
    /* background-color: yellow; */
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-details {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
}

.login-text {
    font-family: "Poppins", sans-serif;
    width: 30vw;
    border-radius: 5px;
    outline: none;
    padding: 0.8rem;
    font-size: 15px;
    border: 1px solid black;
}

.password-area {
    font-family: "Poppins", sans-serif;
    width: 30vw;
    border-radius: 5px;
    outline: none;
    padding: 0.8rem;
    font-size: 15px;
    border: 1px solid black;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    /* background-color: black; */
}

.title-input {
    font-family: "Poppins", sans-serif;
    width: 30vw;
    border-radius: 5px;
    outline: none;
    padding: 0.8rem;
    font-size: 15px;
    border: 1px solid black;
}

.title-input::placeholder {
    transition: 0.5 ease-in-out;
}

@media(max-width:1350px) {

    /* .all-details {
        font-size: 1.8rem;
        height: 2.5rem;
    }

    .block td {
        width: 40rem;
    } */
}

@media(max-width:1200px) {
    /* .block td {
        width: 30rem;
    }

    .edit-btn {
        height: 2rem;
        width: 4rem;
    }

    .delete-btn {
        height: 2rem;
        width: 4rem;
    } */
}

@media(max-width:1000px) {
    /* .block td {
        width: 20rem;
    } */
}

@media(max-width:858px) {
    html {
        font-size: 15px;
    }

    /* .block th {
        width: 15rem;
    }

    .resp-btn-div {
        display: flex;
    }

    .all-details {
        font-size: 1.5rem;
        height: 2.4rem;
    }

    .container {
        border-bottom: 3px solid black;
    }

    .btn-div {
        display: none;
    }

    .edit-btn {
        background-color: #2e79e5;
        border-radius: 30px;
    }

    .delete-btn {
        background-color: #ff3232;
        border-radius: 30px;
    }

    .block {
        border-bottom: 1px solid black;
    } */
}

@media(max-width:550px) {
    html {
        font-size: 13px;
    }


}

@media(max-width:450px) {
    html {
        font-size: 12px;
    }


}

@media(max-width:400px) {
    html {
        font-size: 11px;
    }


}

@media(max-width:366px) {
    html {
        font-size: 10px;
    }


}

@media(max-width:330px) {
    html {
        font-size: 9px;
    }


}

@media(max-width:300px) {
    html {
        font-size: 8px;
    }


}

@media(max-width:260px) {
    html {
        font-size: 7px;
    }


}